@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
  font-family: "Poller One", cursive;
}

@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");

.App {
  text-align: center;
}

.sw-font {
  font-family: "Poller One", cursive;
  text-shadow: -1px 0 #ffc107, 0 1px #ffc107, 1px 0 #ffc107, 0 -1px #ffc107;
}
