@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
  font-family: "Poller One", cursive;
}

@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.App {
  text-align: center;
}

.sw-font {
  font-family: "Poller One", cursive;
  text-shadow: -1px 0 #ffc107, 0 1px #ffc107, 1px 0 #ffc107, 0 -1px #ffc107;
}

.search-bar li {
  width: 100%;
  list-style-type: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.search-bar li :hover {
  text-decoration: gray underline;
}
